@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/RobotoMono-Regular.ttf') format('truetype');
}

html {
    display: block;
    font-size: 18px;
    letter-spacing: 1.5px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--main-color);
    font-family: 'Roboto Mono', monospace;
    display: flex;
    word-wrap: break-word;
    padding: 0;
    margin: 0 auto 60px;
    width: 90vw;
    max-width: 650px;
}

hr {
    border: 1px solid var(--main-color);
}

.container {
    font-family: 'Roboto Mono', monospace;
    padding: 20px;
    min-width: 30vw;
    max-width: 600px;
}

a,
a:visited {
    color: var(--sub-color);
    font-weight: 700;
    transition: color 0.3s ease;
}

a:hover,
a:focus {
    color: var(--text-color);
}

h2 {
    /* color: var(--text-color); */
    text-decoration: bold;
    font-size: 1.5em;
}

ul {
    padding-left: 0;
}

li {
    margin-top: 5px;
}

.bax {
    width: 100%;
    max-width: 50%; 
}

.bax img {
    width: 100%;
    height: auto;
}

.socials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px 0;
}

.socials a {
    text-decoration: none;
    color: var(--sub-color);
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.socials a img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    transition: transform 0.3s ease;
    filter: brightness(0) saturate(100%) invert(37%) sepia(24%) saturate(261%) hue-rotate(165deg) brightness(90%) contrast(85%);
}

.socials a:hover,
.socials a:focus {
    color: var(--text-color);
}

.socials a:hover img {
    transform: scale(1.1);
    filter: brightness(0) saturate(100%) invert(20%) sepia(5%) saturate(150%) hue-rotate(180deg) brightness(100%) contrast(90%);
}

::selection {
    background-color: var(--main-color);
    color: var(--sub-color);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

@media (max-width: 768px) {
    .bax {
        max-width: 70%;
    }
}